.btnColor {
    font-family: "Quicksand", sans-serif !important;
    background-color: orange !important;
    border: none !important;
    color: black !important;
    padding: 0.5rem 1rem !important;
}

.btnColor:hover {
    background-color: rgb(243, 159, 2) !important;
}

.thanksOuter {
    padding: 100px 0;
    height: 573,61px;
    overflow: hidden;
}

.envelope {
    max-width: 30%;
}

.contactOuter {
    background-color: #36393f;
}

.contactOuter a {
    color: orange !important;
}

.contactOuter a:hover {
    color: rgb(211, 137, 1) !important;
}