.ContainerHeight {
    min-height: calc(100vh - 56px);
}


.name {
    color: orange;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
}

.bg {
    background-image: url(../assets/images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.image {
    background-image: url(../assets/images/profile-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%; 
}

.imageOuter {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: orange;
}

.link {
    font-family: monospace, sans-serif;
}

.link:hover {
    color: white !important;
    font-size: 2rem;
}

.icon {
    color: white;
}